<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Online Store</title>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <<link  href="css/index.css"rel="stylesheet" type="text/css" />
  <<link  href="css/cart.css"rel="stylesheet" type="text/css" />


</head>

<body>
  <nav class="navbar sticky-top" style="background-color: #e3f2fd;">

    
    <div class="ml-auto">
      <a type="button" class="btn btn-outline-secondary" href="/admin" id="admin_page">Admin Page</a>
    </div>

  </nav>

  <div class="d-flex flex-column align-items-center">

    <div class="d-flex flex-column align-items-center m-5">
          <h1 class="display-4">You are now editing <%=user%> !</h1>
      <p></p>
    </div>
    
    <form class="m-3" id="searchform" action="edit" method="GET">
      <div class="input-group">
        <input type="text" class="form-control" name="searching" placeholder="Title of game you want to edit or delete" id="keyword" >
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
    
    <div class="container">
        <div class="col-10">
            <from method="POST">
                
            </from>
        </div>
    </div>

   <div id="product-grid" class="item-holder m-5 p-3">
            <% games.forEach(function(game) { %>
                    <figure >
                        <img class="thumbnail" src="<%= game.image_url %>" alt="game image"/>
                        <figcaption class="game-caption">
                            <p><%= game.title %></p>
                            <p>Price: <%= game.price %></p>
                        </figcaption>
                        <br>
                    </figure>
            <% }) %>
        </div>   
    
   

      

  </div>

  <div id="product-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-product-name">Product Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="modal-product-img" class="w-100 mb-3" />
          <p id="modal-product-desc">Product Description</p>
          <p class="text-right font-weight-bold">$<span id="modal-product-price">0.00</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="cart-add-button" class="btn btn-primary" product_id="0">Add to cart</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>