<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Online Store</title>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <<link  href="css/login.css"rel="stylesheet" type="text/css" />


</head>

<body>
    <nav class="navbar sticky-top" style="background-color: #e3f2fd;">
        
        <a type="button" class="btn btn-outline-secondary" href="/" id="home">Home</a>
        
    </nav>
    
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center m-5">
            <h1 class="display-4">Account Login</h1>
        </div>
        <%if (typeof error != 'undefined' && error){%>
        <h6 style="color: red">Incorrect Login Credentials</h6>
        <% } %>
        <form class="m-3 w-50" action='/login' method="POST">
            <input type="text" name="username" id="username" class="form-control my-3" placeholder="Username">
            <input type="text" name="password"id="password" class="form-control my-3" placeholder="Password">
            <button class="btn btn-primary mx-3">Submit</button>
            <a href="/createAccount">Create Account</a>
        </form>
    </div>
</body>

</html>