.thumbnail {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

figcaption, figure{
    margin: 0px auto;
    width: 100%;
}

.store-item {
    min-height: 50px;
    Min-width: 50px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 5px grey;
}

.store-item:hover {
    background-color: grey;
}

.item-holder {
    width: 50%;
    min-height: 100vh;
    display: grid;
    grid-auto-columns: 10em;
    grid-auto-rows: 10em;
    grid-template-columns: repeat(auto-fit, 10em);
    grid-gap: 1em;
    justify-content: center;
}