nav {
    background-color: lightgrey;
    height: 4em;
}

h1 {
    text-align: center;
}

.thumbnail {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

figcaption, figure{
    margin: 0px auto;
    width: 100%;
}

.store-item {
    min-height: 50px;
    Min-width: 50px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 5px grey;
}

.store-item:hover {
    background-color: grey;
}

.item-holder {
    width: 50%;
    min-height: 100vh;
    display: grid;
    grid-auto-columns: 10em;
    grid-auto-rows: 10em;
    grid-template-columns: repeat(auto-fit, 10em);
    grid-gap: 1em;
    justify-content: center;
}

#searchform {
    width: 50%;
    max-width: 25em;
    top: 0.5em;
}

@media (min-width: 768px) {  
    #searchform {
        position: sticky;
        z-index: 1021
    }
}

#cart-add-button {
    width: 7em;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: blue;
  cursor: pointer;
}